@import url('https://fonts.googleapis.com/css?family=Lobster');

.logo {
  font-family: 'Lobster', cursive;
  font-size: 250%;
  color: #5C69B0;
}

#is-nav:hover{
  background-color: rgba(0,0,255,1);
}

.is-nav{
  top: 20%;
  margin-left: .5%;
}

.navbar {
  padding-bottom: 1%;
  background-color: #fafafa;
}

/*project links*/
#link {
  color: blue;
}

/*extra margin on projects on navbar*/
.extra-margin {
  margin-left: 10%;
}
