@import url('https://fonts.googleapis.com/css?family=Lobster');

.logo {
  font-family: 'Lobster', cursive;
  font-size: 150%;
  color: #5C69B0;
}

#is-nav:hover{
  background-color: rgba(0,0,255,.5);
}
